<div>
    <app-navbar ></app-navbar>
    <div class="container mx-5 position-relative pl-5">
        <marquee direction="right" scrollamount="12">
            <h2 class="pt-4 px-5 mx-5 image-caption mb-0 fw-bold">{{value | translate}}</h2>
            <img src="https://t4.ftcdn.net/jpg/04/35/97/43/360_F_435974397_rFGpxTfOolSww3MPhzSM4yAQ6dvXIwQz.jpg"
          class=" top-image px-5 ml-1" alt="#"></marquee>
      </div>
    <app-product-card [searchText]="filterValue"></app-product-card>
    <app-footer></app-footer>
</div>
