  <!-- bottom content -->
  <div class="card-container my-5 mx-5 px-3">
    <hr>
    <div class="row my-5">
      <div class="col-sm-12 col-lg-4 w-30">
        <div class="end">
          <div class=" fw-bolder"><a class="navbar-brand fw-bold" href="#">
              <img src="assets/images/bag.png" alt="Shopcart" class="rounded-circle image-logo p-0 mr-2 mb-2" width="35px"
              height="35px">
              <span class="logo">Shopcart</span>
            </a></div>
          <div><small>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat fugiat fugit praesentium,
              assumenda officiis autem, numquam suscipit tenetur alias</small>
          </div>

          <div class="fw-bolder my-4 accepted-payments">Accepted Payments</div>
          <div class="d-flex payments m-0 ">
            <a href="#"><img src="https://www.logo.wine/a/logo/Amazon_(company)/Amazon_(company)-Logo.wine.svg"
                class="mx-2" alt="#" width="50" height="50"></a>
            <a href="#"><img src="https://www.logo.wine/a/logo/Apple_Pay/Apple_Pay-Logo.wine.svg" class="mx-2" alt="#"
                width="50" height="50"></a>
            <a href="#"><img src="https://www.logo.wine/a/logo/Klarna/Klarna-Logo.wine.svg" class="mx-2" alt="#"
                width="50" height="50"></a>
            <a href="#"><img src="https://www.logo.wine/a/logo/Visa_Inc./Visa_Inc.-Logo.wine.svg" class="mx-2" alt="#"
                width="50" height="50"></a>
            <a href="#"><img src="https://www.logo.wine/a/logo/Stripe_(company)/Stripe_(company)-Logo.wine.svg"
                class="mx-2" alt="#" width="50" height="50"></a>
            <a href="#"><img src="https://www.logo.wine/a/logo/PayPal/PayPal-Logo.wine.svg" class="mx-2" alt="#"
                width="50" height="50"></a>
            <a href="#"><img src="https://www.logo.wine/a/logo/Mastercard/Mastercard-Logo.wine.svg" class="mx-2" alt="#"
                width="50" height="50"></a>
            <a href="#"><img src="https://www.logo.wine/a/logo/Paytm/Paytm-Logo.wine.svg" class="mx-2" alt="#"
                width="50" height="50"></a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-2 w-auto mx-4 px-4 bottom-links">
        <div class="bottom fw-bold mb-2 ">Department</div>
        <div class="bottom"><a class="references text-decoration-none">Fashion</a></div>
        <div class="bottom"><a class="references text-decoration-none">Education Product</a></div>
        <div class="bottom"><a class="references text-decoration-none">Frozen Food</a></div>
        <div class="bottom"><a class="references text-decoration-none">Beverages</a></div>
        <div class="bottom"><a class="references text-decoration-none">Organic Grocery</a></div>
        <div class="bottom"><a class="references text-decoration-none">Office Supplies</a></div>
        <div class="bottom"><a class="references text-decoration-none">Beauty Products</a></div>
        <div class="bottom"><a class="references text-decoration-none">Books</a></div>
        <div class="bottom"><a class="references text-decoration-none">Fitness</a></div>
        <div class="bottom"><a class="references text-decoration-none">Sneakers</a></div>
        <div class="bottom"><a class="references text-decoration-none">Toys</a></div>
        <div class="bottom"><a class="references text-decoration-none">Furniture</a></div>
        <div class="bottom"><a class="references text-decoration-none">Electronics</a></div>
      </div>

      <div class="col-sm-12 col-md-6  col-lg-2 w-auto mx-4 px-4 bottom-links">
        <div class="bottom fw-bold mb-2 ">About Us</div>
        <div class="bottom"><a class="references text-decoration-none">About Shopcart</a></div>
        <div class="bottom"><a class="references text-decoration-none">Careers</a></div>
        <div class="bottom"><a class="references text-decoration-none">News & Blog</a></div>
        <div class="bottom"><a class="references text-decoration-none">Help</a></div>
        <div class="bottom"><a class="references text-decoration-none">Press Center</a></div>
        <div class="bottom"><a class="references text-decoration-none">Ideas & Guides</a></div>
        <div class="bottom"><a class="references text-decoration-none">Shopcart Brands</a></div>
        <div class="bottom"><a class="references text-decoration-none">Affiliate & Brands</a></div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-2 w-auto mx-4 px-4 bottom-links">
        <div class="bottom fw-bold mb-2">Services</div>
        <div class="bottom"><a class="references text-decoration-none">Gift Card</a></div>
        <div class="bottom"><a class="references text-decoration-none">Mobile App</a></div>
        <div class="bottom"><a class="references text-decoration-none">Shipping</a></div>
        <div class="bottom"><a class="references text-decoration-none">Order Pickup</a></div>
        <div class="bottom"><a class="references text-decoration-none">Account Signup</a></div>
      </div>

      <div class="col-sm-12 col-md-6  col-lg-2 w-auto mx-4 px-4 bottom-links">
        <div class="bottom fw-bold mb-2">Help</div>
        <div class="bottom"><a class="references text-decoration-none">Shopcart Help</a></div>
        <div class="bottom"><a class="references text-decoration-none">Returns</a></div>
        <div class="bottom"><a class="references text-decoration-none">Track Orders</a></div>
        <div class="bottom"><a class="references text-decoration-none">Contact Us</a></div>
        <div class="bottom"><a class="references text-decoration-none">Feedback</a></div>
        <div class="bottom"><a class="references text-decoration-none">Security and Fraud</a></div>
      </div>
    </div>
  </div>


  <!-- footer -->
  <div class=" bottom-links mx-4 px-2">
    <hr>
    <div class="d-flex justify-content-between flex-wrap my-4">
      <div class="help-center">
        <a href="#" class="fw-bold references text-decoration-none mx-3"> <i
            class="fa fa-shopping-bag text-danger mx-1"></i> Become Seller</a>
        <a href="#" class="fw-bold references text-decoration-none mx-3"> <i
            class="fa fa-gift text-danger mx-1"></i>Gift Cards</a>
        <a href="#" class="fw-bold references text-decoration-none mx-3"> <i
            class="fa fa-question-circle text-danger mx-1"></i>Help center</a>
      </div>

      <div class="help-center">
        <a href="#" class="fw-bold references text-decoration-none mx-3">Terms of Use</a>
        <a href="#" class="fw-bold references text-decoration-none mx-3">Privacy Policy</a>
      </div>

      <div class="help-center">
        <span class="fw-bold mx-3">All Right reserved by Musemind | 2022</span>
      </div>
    </div>
  </div>
