<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid d-flex justify-content-between mx-3 position-relative">
    <a class="navbar-brand fw-bolder" href="#">
      <img src="assets/images/bag.png" alt="Shopcart" class="rounded-circle image-logo p-0 mr-2 mb-2" width="35px"
        height="35px">
      Shopcart
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-lg-0">
        <li class="nav-item mx-3">
          <div class="main">
            <div class="input-container">
              <div class="float-left drop_div">
                <button class="bb-dropdown nav-link active" (click)="onShowDropdown($event)">
                  <span class="option-value"> {{optionValue}}</span>
                </button>
                <div class="dropdown-container position-absolute" *ngIf="showDropdown"
                  (click)="$event.stopPropagation()">
                  <ul class="list-items">
                    <li class="option-items ">
                      <a *ngFor="let option of options" (click)="selectOption(option.name)"
                        class="options d-block text-muted">{{option.name}}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link active" aria-current="page" href="#">What's New</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link active" aria-current="page" href="#">Delivery</a>
        </li>
      </ul>
      <input class="form-control w-25 account" type="search" placeholder="Search" aria-label="Search">

      <div class="account">
        <button routerLink="/login" class="fw-bold references cart mx-2">
          <i class="fa fa-user mx-1"></i>Log-in
        </button>
        <button class="fw-bold references cart mx-2" (click)="loginAuth()">
          <i class="fa fa-shopping-cart px-1 mx-0"></i>
          <span> Cart</span>
          <div style="font-size: 8px;" class="badge bg-danger">{{ countProducts$ | async }}</div>
        </button>
      </div>

    </div>
  </div>
</nav>