.main{
    display: flex;
    justify-content: center;
    min-height: 100%;
    background-image: url(https://www.shutterstock.com/image-vector/sketchy-vector-hand-drawn-doodle-600w-2142638965.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    .card{
        width: 880px;
        border: 1px solid black;
        border-radius: 10px;
        padding: 45px;
        height: max-content;
       margin: auto;

        .row{
            .col-md-6{
                .product-image{
                    border-radius: 10px;
                } 
            }
            .col-md-6{
                .btn {
                    background-color: black;
                    color: white;
                }
    
                .btn:hover {
                    opacity: 0.8;
                }
            }
        }

    }
}
